div, button{
    margin: 10px;
}

h1, h2, h3, div{
    color: white;
}

img.logo{
    width: 300px;
    height: 120px;
}


div#cadastro{
    background-color: #1552b2;
    position: relative;
    text-align: center;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

div.result-box.hide{
    display: none;
}

div.quiz-box.hide{
    display: none;
}

div.quiz-box{
    background-color:#1552b2;
    border-radius: 50px;
    padding: 15px;
}

div.fundoResultado{
    background-color:#1552b2;
    border-radius: 50px;
    padding: 15px;
}

div.option{
    background-color: #0c8f58;
    padding: 10px;
    border-radius: 10px;   
}

div.option:hover{
    background-color: #a239ca;
    transition: 0.5s;
}

button:hover{
    background-color: #a239ca;
    transition: 0.5s;
}

div.option.escolhida{
    background-color: #a239ca;
    color: white;
}
div.option.respondida{
    pointer-events: none;
}

div.fundo{
    width: 100vw;
    height: 100vh;
    background: #168990;
    background-image: url(imagens/fundo6.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

audio{
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
}

button#audio{
    position: fixed;
    top: 0px;
    right: 0px;
}

div.butaoAudio{
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
}


img.som{
    width: 45px;
    height: 45px;
    background-color: white;
    padding: 5px;
    border-radius: 100px;
}

button.btn.btn-white{
    padding: 0px;
}